{% extends "layout.html" %}

{% block body %}

<main id="main" data-aos="fade-in">
    {% load static %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
            <h2>Courses</h2>
            <p><strong>Choose from Many Options including Courses and Training Programmes to Accelerate your Career.</strong> </p>
        </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="{% static 'img/c-img/Vedic Maths.png'%}" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>INDIAN VEDIC MATHEMATICS</h4>

                            </div>

                            <h3><a href="/course-details">The Ancient Method of Solving Maths</a></h3>
                            <p>Vedic Mathematics offers a new and entirely different approach to the study of Vedic</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="align-self-center mx-auto">
                                    <style>.btn-warning {
                                    color: #212529;
                                    background-color: #fbd845;
                                    border-color: #fbd845;
                                    }

                                    </style>

                                    <button type="button" onclick="window.location.href='/course-details'"
                                            class="btn btn-warning">
                                        More Info
                                    </button>
                                    <button type="button" onclick="window.location.href='/contact'"
                                            class="btn btn-warning" style="margin-left: 35px">
                                        Enroll NOW
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="course-item">
                        <img src="{% static 'img/c-img/Advance abacus.png'%}" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>ADVANCE ABACUS</h4>

                            </div>

                            <h3><a href="course-details.html">‘Whole Brain Development’ Tool</a></h3>
                            <br>
                            <p>It’s been proven as one of the most effective methods for young learners to do mental
                                math.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="align-self-center mx-auto">
                                    <style>.btn-warning {
                                    color: #212529;
                                    background-color: #fbd845;
                                    border-color: #fbd845;
                                    }

                                    </style>

                                    <button type="button" onclick="window.location.href='/abacus-d'"
                                            class="btn btn-warning">
                                        More Info
                                    </button>
                                    <button type="button" onclick="window.location.href='/contact'"
                                            class="btn btn-warning" style="margin-left: 35px">
                                        Enroll NOW
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <img src="{% static 'img/c-img/phonics.jpg' %}" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>PHONICS</h4>

                            </div>

                            <h3><a href="course-details.html">TEACHERS' TRAINING PROGRAMME</a></h3>
                            <p>It offers aspirants an opportunity to learn directly from our expert phonics
                                trainers.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="align-self-center mx-auto">
                                    <style>.btn-warning {
                                    color: #212529;
                                    background-color: #fbd845;
                                    border-color: #fbd845;
                                    }

                                    </style>

                                    <button type="button" onclick="window.location.href='/course-details'"
                                            class="btn btn-warning">
                                        More Info
                                    </button>
                                    <button type="button" onclick="window.location.href='/contact'"
                                            class="btn btn-warning" style="margin-left: 35px">
                                        Enroll NOW
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

            </div>
            <br>
            <div class="row" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="{% static 'img/c-img/Rubiks.png'%}" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>RUBIC's CUBE</h4>

                            </div>

                            <h3><a href="course-details.html">Confidence booster to Problem Solving Skills.</a></h3>
                            <p>The main aim of this course is to introduce the art of solving Rubiks Cube.</p><br>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="align-self-center mx-auto">
                                    <style>.btn-warning {
                                    color: #212529;
                                    background-color: #fbd845;
                                    border-color: #fbd845;
                                    }

                                    </style>

                                    <button type="button" onclick="window.location.href='/course-details'"
                                            class="btn btn-warning">
                                        More Info
                                    </button>
                                    <button type="button" onclick="window.location.href='/contact'"
                                            class="btn btn-warning" style="margin-left: 35px">
                                        Enroll NOW
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="course-item">
                        <style>
  .kal {
     margin-bottom: 0.3cm;
  }


                        </style>
                        <div class="kal"><img src="{% static 'img/c-img/kalfun.jpg'%}" class="img-fluid" alt="...">
                        </div>
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>KALFUN</h4>

                            </div>

                            <h3><a href="course-details.html">Learn and develop a strong number sense</a></h3>
                            <p>Enhance Memory And Mental Skill Through Building Concepts.</p><br>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="align-self-center mx-auto">
                                    <style>.btn-warning {
                                    color: #212529;
                                    background-color: #fbd845;
                                    border-color: #fbd845;
                                    }

                                    </style>

                                    <button type="button" onclick="window.location.href='/course-details'"
                                            class="btn btn-warning">
                                        More Info
                                    </button>
                                    <button type="button" onclick="window.location.href='/contact'"
                                            class="btn btn-warning" style="margin-left: 35px">
                                        Enroll NOW
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <img src="{% static 'img/c-img/dmit.png' %}" class="img-fluid" alt="...">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>DMIT TEST</h4>

                            </div>

                            <h3><a href="course-details.html">Dermatoglyphics Multiple Intelligence Test.</a></h3>
                            <p>DMlT is a scientific evaluation to identify individual’s ibrogpotentian of skills,
                                abilities and talents.</p>
                            <div class="trainer d-flex justify-content-between align-items-center">
                                <div class="align-self-center mx-auto">
                                    <style>.btn-warning {
                                    color: #212529;
                                    background-color: #fbd845;
                                    border-color: #fbd845;
                                    }

                                    </style>

                                    <button type="button" onclick="window.location.href='/course-details'"
                                            class="btn btn-warning">
                                        More Info
                                    </button>
                                    <button type="button" onclick="window.location.href='/contact'"
                                            class="btn btn-warning" style="margin-left: 35px">
                                        Enroll NOW
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

            </div>


        </div>
    </section><!-- End Courses Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% endblock %}